*{
    margin: 0 ;
    padding: 0 ;
    border: 0;
}
body, html{
    height: 100vh;
    background: black;   
}
 
.top-header{
    height: 5%;
    color: white;
}
.top-header h1{
    display: inline-block;
    font-family: 'Press Start 2P',sans-serif;
    font-size: 1em;
    padding: .4em 0 0 .7em;
    box-sizing: border-box;
    height: 100%;
}

.top-nav{
    text-align: center;
}
.top-nav ul{
    list-style: none;
}
.top-nav a{
    text-decoration: none;
    padding: 1em;
    display: block;
}
.top-content{
    text-align: center;
    background: linear-gradient(185deg, black 10%, DarkBlue 50%, DarkSlateBlue 70%);
    height: 85%;
    display: block;
    box-sizing: border-box;

}
.top-content-imagem{
    text-align: center;
    height: 30%;
}
.top-content-arte{
    margin: auto;
    background-image: url(../Imagens/Front.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 120% 65%;
    background-position: bottom;
    height: 50%;
    box-sizing: border-box;
}
.top-content-descricao{
    display: grid;
    background: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: DarkSlateBlue;
    height: 25%;
}
.middle-content-title{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 800;
}
.middle-content p{
    font-size: 1.5;
    text-transform: uppercase;
}

.top-content-descricao ul{
    font-size: 1.2em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
    grid-auto-rows: 3em;
    align-items: center;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer-menushare li{
    display: inline-block;
    padding: 0.5em 0.5em;
    box-sizing: border-box;     
}

.footer-menushare a{
    font-size: 2em;
    text-decoration: none;
    color: gray;   
    transition: 0.1s ease-in-out;
}

.footer-menushare a:hover{
    color: #00008B; 
    font-size: 2.5em;
    text-shadow: 0 0 0.2em #9370DB, 0 0 0.2em #9370DB;
}

footer{
    background: white;
    text-align: center;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(repeat(1, 1fr));
    align-items: end;
    font-size: 0.7em;
}
footer p{
    padding-bottom: 1em;
}

@keyframes down{
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes downArte{
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(0);
    }
}

.animate-down{
    animation-name: down;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.animate-downArte{
    animation-name: downArte;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.footer-menushare{
    animation-delay: 50ms;
}

.middle-content-title{
    animation-delay: 100ms;
}

.top-content-arte{
    animation-delay: 100ms;
}