body{
    margin 0;
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.4;
    padding: 0;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.header{
    background: black;
    width: 100%;
    
}
.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    text-transform: uppercase;
    margin: 0;
    padding-left: 1em;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: .6em;
}

.badge{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    background-image: url(../img/01.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.badge_title{
    background-color: #63c6ae;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px 10px;
}

.badge_links{
    padding: 30px 0 20px;
    display: grid;
    grid-template-rows: repeat(auto-filt, 1fr);
    grid-auto-rows: 4em;
    grid-auto-columns: 4.5em;
    grid-auto-flow: column;
}

.badge_links li{
    display: inline-block;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
}

.badge_links a{
    font-size: 2.5em;
    text-decoration: none;
    color: gray;   
    transition: 0.1s ease-in-out;
}

.badge_links a:hover{
    color: #00008B; 
    font-size: 3em;
    text-shadow: 0 0 0.2em #9370DB, 0 0 0.2em #9370DB;
}

.projects-cards{
    margin-top: 2.5em; 
}

.projects-cards__image{
    width: 100%;
    border-radius: 40px;
    display: block;
}

.projects-cards__image:hover{
    filter: grayscale(1);
}

.projects-cards a{
    display: block;
}

.projects-cards a:hover{
    box-shadow: 0 0 1em #9370DB, 0 0 1em #9370DB;
    border-radius: 40px;
}

.footer{
    text-align: center;
    background-color: #242a2c;
    padding: 2em 0 3em;
    color: #454251;
    font-size: 14px;
}