html{
    scroll-behavior: smooth;
}
body{
    margin 0;
    font-family: 'Open Sans', sans-serif; 
    line-height: 1.4;
    padding: 0;
    background: #E6E0F8;
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1500px;
    background: #E6E0F8;
}

.footer{
    display: block;
    text-align: center;
    background-color: #270202;
    padding: 2em 0 3em;
    color: #454251;
    font-size: 14px;
}

/*---------- Sobre ----------*/

.sobre{
    display: grid;
    padding: 5em 0 0 0;
    grid-template-rows: auto;   
    width: 100%;
    text-align: center;
}

.sobre-desc{
    box-sizing: border-box;
    margin-bottom: 50px;
}

.sobre h3{
    color: #8ec45f;
    font-size: 1.4em;
    font-weight: 800;
    padding: 20px 10px;
    font-family: 'Press Start 2P', sans-serif;
    text-transform: uppercase;
}
.sobre p{
    text-align:justify;
    font-weight: bold;
    color: #222;
    padding: 0 10px 15px 10px;
    display: block;
    box-sizing: border-box;
}

.sobre-desc a {
    color: #8ec45f;
    font-weight: 800;
    text-decoration: none;
}

.section_skills{
    position: relative;
    width: 100%;
    font-weight: 600;
    font-size: .8em;
    margin-bottom: 50px;
}

.section_skills .skills{
    position: relative;
    display: flex;
    margin: 20px 0;
    overflow: hidden;
    transition: 0.5s;
    background: #8ec45f;
    border-radius: 5px 0 0 5px;
}

.section_skills .skills .name{
    position: relative;
    width: 70px;
    padding: 8px 0 0 5px;
    text-align: left;
    color: #fff; 
}

.section_skills .skills .value{
    position: absolute;
    width: 95%;
    padding: 5px 0 0 0;
    text-align: right;
    color: #8ec45f;
    text-transform: uppercase;
}

.section_skills .percent{
    position: relative;
    width: calc(100% - 20px);
    height: 30px;
    margin: 0 0 0 0;
    background: #1a022f;
    overflow: hidden;
}

.section_skills .skills .percent .progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #fff;
    animation: animate 1s ease-in-out forwards;

}

@keyframes animate{
    from{
        width: 0;
    }
}

/*---------- Medias ----------*/

@media screen and (min-width: 375px){
    
}

@media screen and (min-width: 411px){
   
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 800px){
  
    .sobre h3{
    font-size: 2em;
    padding: 50px 10px 15px 10px;
    text-align: left;
    }
    
    .section_skills .percent{
    width: calc(100% - 20px);
    height: 35px;
    }
    
    .section_skills .skills .name{
    width: 70px;
    padding: 8px 30px 0 10px;
    text-align: left;
    color: #fff;
    }
    .section_skills span{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1280px){
    body{
        display: grid;
        grid-template-areas: "header header header"
        "container container container";
        grid-template-columns: auto auto auto;
        grid-template-rows: 10vh 90vh;
    }
    .teste{
        grid-area: container;
        display: grid;
        grid-template-rows: 2fr;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .container{
       
    }
    
    .sobre{
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        align-items: center;
        padding: 0 0 0 0;
    }
    
    .sobre-desc{
        display: block;
        box-sizing: border-box;
    }
    
    .section_skills{
        display: block;
        box-sizing: border-box;
    }
    
    .footer{
        width: 100%;
        box-sizing: border-box;
}

.footer p{
    display: block;
    box-sizing: border-box;
    }    
}

@media screen and (min-width: 1366px){
    
}

@media screen and (min-width: 1600px){
    
}

@media screen and (min-width: 1920px){

    .container{
    max-width: 1600px;
    }
    
}

@media screen and (min-width: 2560px){

}